.place_center{
    display: flex;
    justify-content: center; /* Align horizontally */
    align-items: center; 
}
.padding_t{
    padding-top: 48px;
}
.container {
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    height: 20vh;            /* Full viewport height */
}
.result_style{
    color: rgb(0, 255, 89);
     font-style: italic; 
     font-size: 48px;
}
.reset_space{
    margin-left: 20px;
}